/* Estilo geral da página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
    transition: background-color 0.5s, color 0.5s;
    min-width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    scroll-behavior: smooth;
}

ul {
    font-size: 16px;
    font-family: Arial;
    text-align: left;
}

.form-group{
    padding-left: 50px;
}

ul a {
    color: var(--text-color);
    text-decoration: none;
}

ul a:hover {
    color: #B0B0B0;
}


.line {
    height: 300%;
    width: 2px;
    background-color: var(--text-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Variáveis de cores */
:root {
    --background-color: #121212;
    --text-color: #ffffff;
    --planet-color-1: #ffd700cc;
    --planet-color-2: #ff4500cc;
    --planet-color-3: #4682b4cc;
    --planet-color-4: #8a2be2cc;
    --planet-color-5: #ff6347cc;
    --planet-color-6: #47ff75cc;
    --planet-hover-bg: rgba(255, 255, 255, 0.2);
}

body.light-mode {
    --background-color: #f4f4f4;
    --text-color: #000000;
    --planet-color-1: #ffffe0cc;
    --planet-color-2: rgba(255, 69, 0, 0.8);
    --planet-color-3: rgba(70, 130, 180, 0.8);
    --planet-color-4: rgba(138, 43, 226, 0.8);
    --planet-color-5: rgba(255, 99, 71, 0.8);
    --planet-color-6: #47ff75cc;
}

/* Cabeçalho */
header {
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}

nav {
    margin: 10px 0;
    text-align: center;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--text-color);
    font-weight: bold;
}

nav a:hover {
    color: #ffffff;
}

/* Estilo para o botão de alternância de modo */
#toggle-mode {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #000000;
    border: none;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#toggle-mode:hover {
    background-color: #555555;
}


/* Estilo para o botão de alternância do menu */
#menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
}

#menu-toggle:hover {
    background-color: #555;
}

/* Container para as seções flutuantes */
.container {
    width: 100%;
    max-width: 1200px; 
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo para as information-boxes */
.information-box {
    background-color: var(--planet-color-1);
    color: #333;
    padding: 30px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.information-box:nth-child(1n) {
    align-self: flex-start;
    background: radial-gradient(circle, rgba(255,223,0,0.9), rgba(255,215,0,0.6), rgba(240,230,140,0.2));
}

.information-box:nth-child(2n) {
    align-self: flex-end;
    background: radial-gradient(circle, rgba(255,69,0,0.9), rgba(255,99,71,0.6), rgba(255,165,0,0.2));
}

.information-box:nth-child(3n) {
    background: radial-gradient(circle, rgba(70,130,180,0.9), rgba(100,149,237,0.6), rgba(173,216,230,0.2));
}

.information-box:nth-child(4n) {
    background: radial-gradient(circle, rgba(138,43,226,0.9), rgba(148,0,211,0.6), rgba(186,85,211,0.2));
}

.information-box:nth-child(5n) {
    background: radial-gradient(circle, rgba(255,99,71,0.9), rgba(250,128,114,0.6), rgba(233,150,122,0.2));
}

.information-box:nth-child(6n) {
    background: radial-gradient(circle, rgba(71,255,117,0.9), rgba(127,255,212,0.6), rgba(152,251,152,0.2));
}

.information-box h2 {
    margin-top: 0;
}

/* Responsividade */
@media (max-width: 768px) {

    body {
        display: block;
    }

    .container {
        padding: 0;
        width: 100%;
        max-width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #nav-menu {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--background-color);
        position: absolute;
        top: 50px;
        left: 0;
        padding: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    #nav-menu.active {
        display: flex;
    }

    #menu-toggle {
        display: block;
    }

    .line {
        display: none; /* Esconde a linha no modo responsivo */
    }   

    nav a {
        display: block;
        margin: 5px 0;
    }

    section {
        padding: 15px;
    }

    .information-box {
        width: 90%;
        margin: 20px auto;
    }

    .information-box:nth-child(odd),
    .information-box:nth-child(even) {
        align-self: center;
    }
}

/* Formulário de contato */
.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input, .form-group textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    background-color: #2a2a2a;
    border: 1px solid #333;
    color: #e0e0e0;
}

body.light-mode .form-group input, body.light-mode .form-group textarea {
    background-color: #fff;
    border: 1px solid #ccc;
    color: #333;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

button {
    background-color: #2e2e2e;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #000000;
}

/* Fundo animado */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Estilo para o botão de alternância de idioma */
#toggle-language {
    position: fixed;
    top: 10px;
    right: 50px;
    background-color: transparent;
    border: none;
    font-size: 18px;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
}

#toggle-language:hover {
    background-color: #000000;
    color: white;
}

/* Estilo para o botão de voltar ao topo */
#back-to-top {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
}

#back-to-top:hover {
    background-color: #555;
}

/* Adiciona a animação do círculo */
@keyframes expandCircle {
    from {
        width: 0;
        height: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    to {
        width: 300vw;
        height: 300vh;
        top: 0;
        left: 0;
        transform: translate(0, 0);
        opacity: 0;
    }
}

.circle-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 999;
    opacity: 0;
    transform: translate(-50%, -50%); /* Centraliza o círculo */
}

.circle-overlay.active {
    animation: expandCircle 1s forwards;
}

html {
    scroll-behavior: smooth;
}
